header{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 4.5rem;
    background: url('../../assets/bulb.jpg');
    /* background-color:crimson; */
}
header .logo{
    height: 100%;
    padding-left: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.bars{
    margin-left: 3rem;
    display: none;
}
.close{
    display: none;
}
header nav{
    display: flex;
    height: 100%;
    width: 55%;
    justify-content: space-around;
}

header nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
header nav .nav-icons{
    display: flex;
    align-items: center;
}
header nav .nav-links li{
    list-style: none;
    padding: 0 1rem;
}
header nav .nav-links li a{
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: font-weight 0.2s;
}
header nav .nav-links li a:hover,
header nav .nav-links li a:active
{
    color: aqua;
    border-bottom: 0.1rem solid aqua;
    padding: 0.1rem 0rem;
}
header nav .nav-icons li{
    list-style: none;
    color: white;
    padding: 0 0.5rem;
}
header nav ul li a{
    text-decoration: none;
}
header nav .nav-icons li a:hover
{
    border-bottom: 0.1rem solid aqua;
    /* padding: 0.1rem 0rem; */
}

/* media queries */
@media screen and (max-width:835px) {
    header{
        justify-content: space-around;
    }
    header .logo{
        padding-left: 0rem;
    }
}

@media screen and (max-width:615px) {
    header{
        flex-wrap: nowrap;
        flex-direction: column;
        position: relative;
    }
    .logo{
        margin-top: .5rem;
    }
    header nav .nav-icons{
        position: absolute;
        top: 0rem;
        right: 1rem;
    }
    header nav .nav-links{
        width: 80%;
    }
    header nav{
        width: 100%;
        justify-content: center;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .icon{
        width: 1rem;
    }
}

@media screen and (max-width:511px) {
    header{
        flex-direction: row;
        position: relative;
        justify-content: space-between;
    }
    header .logo{
        position: absolute;
        top: -0.6rem;
        left: 13rem;
    }
    header .logo a{
        font-size: .9rem;

    }
    header .bars{
        display: block;
    }
    .close{
        display: block;
    }
    header nav .nav-icons{
        position: absolute;
        top:1rem;
    }
    header nav .nav-links{
        position: absolute;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        top:-100rem;
        left: 0rem;
        height: 100vh;
        width: 100%;
        /* background:linear-gradient(rgba(20, 19, 19,0.7),rgba(20, 19, 19,0.7)), url('../../assets/main.jpg'); */
        background-color: rgb(90, 81, 81);
        /* background-color: crimson; */
        background-size: contain;
        z-index: 22;
    }
    header nav .nav-links.toogle{
        top: 0rem;
    }
    .icon{
        width: 2rem;
    }
}

@media screen and (max-width:480px) {
    header .logo{
        display: none;
    }
    header nav .nav-icons{
        left: 8rem;
    }
}



